.svn
Tests/solver_test001/matrices
SyncToy*
*build*/

*.iml

.idea/

Source/Solver/solver_fcbiilu2/fcbiilu2.cpp

Source/Solver/solver_fcbiilu2/fcbiilu2_nosign.cpp

Source/Solver/solver_k3biilu2/k3d.cpp

Source/Solver/solver_k3biilu2/k3d.h

.vscode/*

.DS_Store

